body{
    background-color: #d4d4d4;
    overflow-x: hidden;
}

h1{
    text-align: center;
}


.container{
    display: flex;
    justify-content: center;
    
}

input {
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0 1rem;
    outline: var(--color-primary);
    width: 90%;
    margin-top: 30px;
    margin-left: 50px;
}
